version: '3.8'

services:
  web:
    image: nginx:alpine
    container_name: halidefterimlanding
    restart: unless-stopped
    volumes:
      - ./:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    expose:
      - "80"
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
